@primary-color: #08E0AD;

// Buttons
@btn-primary-color: #1A3066;
@btn-primary-shadow: rgba(0,0,0,.09) 0 10px 20px 0;
@btn-font-weight: 400;
@btn-height-lg: 50px;
@btn-padding-horizontal-lg: 25px;
@btn-font-size-lg: 18px;