@primary-color: #1EB650;

// Buttons
@btn-primary-shadow: 0 5px 10px rgba(0,0,0,.12);
@btn-border-radius-base: 22px;
@btn-font-weight: bold;
@btn-height-lg: 50px;
@btn-padding-horizontal-lg: 25px;
@btn-font-size-lg: 18px;